useDynLib(TDMRC, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(clean_copula_data)
export(add_prediction_scores)
export(compute_dic)
export(compute_lpml)
export(compute_waic)
export(eta_subset)
export(generate_component_index)
export(inv_subset)
export(precompute_reflected_data)
export(rdirichlet_fast)
export(run_mixclayton_mcmc)
export(run_mixclayton_mdim_mcmc)
export(run_mixclayton_mdim_prediction_mcmc)
export(run_mixclayton_prediction_mcmc)
export(simulate_mixclayton)
